[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = git://github.com/BurntSushi/toml
[submodule "vendor/github.com/bndr/gopencils"]
	path = vendor/github.com/bndr/gopencils
	url = git://github.com/bndr/gopencils
